ipykernel==4.8.2
ipython==6.4.0
jupyter==1.0.0
jupyter_client==5.2.3
jupyter_console==5.2.0
jupyter_core==4.4.0
jupyterlab==0.32.1
Keras==2.2.2
librosa==0.6.1
matplotlib==2.2.2
numpy==1.14.3
pandas==0.23.0
scikit-learn==0.19.1
scipy==1.1.0
tensorflow==1.9.0
wheel==0.31.1